{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Sent - zkBoker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
</head>
<body>
    <div class="auth-container">
        <h1 class="title">Check Your Email</h1>
        <div class="help-text">
            <p>We've emailed you instructions for setting your password.</p>
            <p>You should receive them shortly.</p>
            <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
        </div>
        
        <div class="links">
            <a href="{% url 'login' %}">Return to Login</a>
        </div>
    </div>
</body>
</html>