<!DOCTYPE html>
<html>
<head>
    <title>zkBoker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🃏</text></svg>">
    <!-- Dark mode stylesheet -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <script src="{% static 'js/theme.js' %}"></script>
</head>
<body>
    {% if user.is_authenticated %}
    <div class="top-bar">
        <div class="nav-left">
            <a href="{% url 'poker:home' %}" class="nav-link">Home</a>
            <a href="{% url 'poker:game' %}" class="nav-link">Games</a>
            <a href="{% url 'poker:dev' %}" class="nav-link">Development</a>
        </div>
        <div class="auth-info">
            <button onclick="addCoins()" class="add-coins-btn">Claim Daily Coins! 🪙</button>
            <span class="coin">🪙 {{ user.coins }}</span>
            <span class="gem">💎 {{ user.gems }}</span>
            <span>{{ user.username }}</span>
            <a href="{% url 'users:logout' %}" class="logout-link">Logout</a>
        </div>
    </div>
    {% endif %}

    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
    {% if user.is_authenticated %}
    <script>
    function addCoins() {
        fetch("{% url 'users:add_coins' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
        })
        .then(response => response.json())
        .then(data => {
            // Update the coins display
            const coinDisplay = document.querySelector('.coin');
            coinDisplay.textContent = `🪙 ${data.new_balance}`;
        })
        .catch(error => console.error('Error:', error));
    }
    </script>
    {% endif %}
</body>
</html>